* {
  font-family: "consolas";
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 20px;
}

body {
  background-image: url("./images/BodyBG.png");
  background-color: black;
  background-size: cover;
}
.game-board {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: url("./images/BG.png") repeat;
  /* animation: moveBg 1s infinite linear; */
}
@keyframes moveBg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -500%;
  }
}

.player {
  width: 80px;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  background: url(./images/Player.png) no-repeat center / contain;
}

.bullet {
  position: absolute;
  width: 10px;
  height: 15px;
  background: url(./images/Bullet.png) no-repeat center / contain;
}

.enemy {
  z-index: 2;
  width: 60px;
  height: 40px;
  position: absolute;
  background: url(./images/Enemy.png) no-repeat center / contain;
}

.explosion {
  width: 60px;
  height: 60px;
  position: absolute;
  background: url(./images/explosion.png) no-repeat center / contain;
}

.points {
  z-index: 3;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 28px;
  font-weight: bold;
  color: rgb(38, 206, 38);
  height: 10px;
}
.points img {
  width: 25px;
  vertical-align: middle;
}
.points span {
  margin-left: -5px;
}

.lifes {
  z-index: 3;
  right: 20px;
  top: 20px;
  position: absolute;
  display: flex;
  gap: 10px;
}

.life {
  width: 30px;
  height: 30px;
  background: url("./images/heart.png") no-repeat center / contain;
}

.game {
  z-index: 4;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 30px 50px;
  color: #fff;
  width: 100%;
  background-image: url("./images/BodyBG.png");
  background-size: cover;
  background-color: black;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;
  border: none;
  align-items: center;
}

.end-game {
  display: none;
}
.button {
  color: #fff;
  background-image: url("./images/BG.png");
  background-size: contain;
  background-color: black;
  border: 3px dashed #494975;
  display: block;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  border: 3px dashed #a8a8c9;
}
